##
## docker-compose.yml — определяет сервисы для разработки и тестирования.
#Что нужно сделать:
#  - Настроить сервисы для:
#      - PostgreSQL (или MySQL) с начальной базой.
#      - Приложения Spring Boot (если нужно).
#  - Открыть нужные порты (например, 5432, 8080).
#  - Настроить volume для хранения данных БД.

version: "3.8"

services:
#  bank_rest:
#    build: .
#    container_name: bank_rest_app
#    ports:
#      - "8080:8080"
#    depends_on:
#      - db
#    networks:
#      - backend

  database:
    image: postgres:17
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_DB=mydb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - db_volume:/var/lib/postgresql/data
    networks:
      - backend

networks:
  backend:

volumes:
  db_volume:



