version: "3.8"

services:
  backend:
    build: .
    container_name: api
    ports:
      - "8080:8080"
    depends_on:
      - database
    networks:
      - backend

  database:
    image: postgres:17
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_DB=mydb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    volumes:
      - db_volume:/var/lib/postgresql/data
    networks:
      - backend

networks:
  backend:

volumes:
  db_volume:



